{{/* Parse toc.yaml and store the resulting map to $scratch */}}
{{ $scratch := partialCached "utils/tocparser.html" . . }}
{{ $ctx := . }}

{{/* Get the name of the first section */}}
{{ $firstSection := (index ($scratch.GetSortedMapValues "sections") 0).title }}

{{/* Render the top-nav in sidebar for small screens */}}
<nav class="text-sm py-4 hidden gap-4 pl-4 md:flex flex-col justify-evenly">
  <div class="text-gray-light dark:text-gray-dark">Main sections</div>
  {{ range site.Menus.main }}
  <div class="pl-2 underline-offset-8 decoration-2 hover:underline decoration-blue-light dark:decoration-blue-dark hover:opacity-75
      {{- if eq $firstSection .Name }}
        underline
      {{- end }}">
    <a href="{{ .URL }}">{{ .Name }}</a>
  </div>
  {{ end }}
</nav>
{{ if $firstSection }}
{{ $allSections := slice }}
{{ range $i, $e := ($scratch.GetSortedMapValues "sections") }}
{{ $allSections = $allSections | append (index $e "title") }}
{{ end }}
<hr>
<nav id="sectiontree" class="text-sm w-[300px] md:w-full flex flex-col">
  <div class="hidden md:block p-4 text-gray-light dark:text-gray-dark">This section</div>
  {{/* The current page is in the table of contents */}}
  <ul>
    {{/* Walk the toc.yaml nodes under the current main section */}}
    {{ range (index site.Data.toc $firstSection) }}
    {{ template "tocRender" (dict "ctx" $ctx "entry" . "sections" $allSections) }}
    {{ end }}
  </ul>
</nav>
{{ end }}

{{/* Recursive template for sidebar items */}}
{{ define "tocRender" }}
{{ $ctx := .ctx }}
{{ $sections := .sections }}
{{ if .entry.sectiontitle }}
{{ $expanded := in $sections .entry.sectiontitle }}
{{/* .entry is a section */}}
<li>
  <button class="rounded px-4 sidebar-hover w-full flex items-center justify-between" style="align-items: center; padding-top: 2px; padding-bottom: 2px;">

    <div style="display: flex; align-items: center;">
      {{ with .entry.icon }}
        {{ if strings.Contains . "/" }}
          <img src="{{ . }}" alt="icon" style="width: 24px; height: 24px; margin-right: 8px;">
        {{ else }}
          <span class="material-icons" style="width: 24px; height: 24px; margin-right: 8px;">{{ . }}</span>
        {{ end }}
      {{ end }}
      <span style="flex-grow: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-left: 0px;">
        {{ markdownify .entry.sectiontitle }}
      </span>
    </div>
    <div>
      <span class="icon-svg {{ if $expanded }}hidden{{ end }}" style="flex-shrink: 0;">
        {{ partialCached "icon" "expand_more" "expand_more" }}
      </span>
      <span class="icon-svg {{ if not $expanded }}hidden{{ end }}" style="flex-shrink: 0;">
        {{ partialCached "icon" "expand_less" "expand_less" }}
      </span>
    </div>
  </button>
  <ul class="{{if not $expanded}}hidden {{end}}ml-3 md:ml-[21px]" style="padding-left: 32px;">  <!-- Adjust this value to align with parent text -->
    {{ range .entry.section }}
    {{ template "tocRender" (dict "entry" . "ctx" $ctx "sections" $sections) }}
    {{ end }}
  </ul>
</li>
{{ else }}
{{/* .entry is a page */}}
{{ $isCurrent := eq (urls.Parse $ctx.Permalink).Path .entry.path }}
<li class="pl-4 sidebar-hover rounded {{ if $isCurrent }} bg-gray-light-200 dark:bg-gray-dark-200{{ end }}">
  <a {{ if $isCurrent }}aria-current="page" {{ end }} class="py-2 w-full truncate block" href="{{ .entry.path }}" title="{{ markdownify .entry.title }}">
    <span class="flex items-center gap-2">
      {{ with .entry.icon }} <!-- Check if an icon is specified -->
        {{ if strings.Contains . "/" }} <!-- It's a path, so render an image -->
          <img src="{{ . }}" alt="icon" class="icon-img mr-2" style="width: 24px; height: 24px;">
        {{ else }} <!-- It's a MaterialUI icon, so render a span -->
        <span class="icon-svg"  style="width: 24px; height: 24px;">{{ partial "icon" . }}</span>
        {{ end }}
      {{ end }}
      {{ markdownify .entry.title }} <!-- The page title -->
    </span>
  </a>
</li>

{{ end }}
{{ end }}
